<a href="https://colab.research.google.com/github/biplabp455/Skill-Morph-ML-Training/blob/main/2nd_Class_2nd_Assignment_Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
# H1 Subtraction, Multiplication and Division

A = int(input())
B = int(input())
print ("subtraction: ",(A-B))
print ("Multiplication", (A*B))
print ("Division", (float(A/B)))

5
4
subtraction:  1
Multiplication 20
Division 1.25

In [14]:
# H2 Declaring variable for ID, Name, Batch and Hometown
ID, Name, Batch, Hometown = "SM-ML-2025-B1-058", "Biplab Paul", "Third", "Dhaka"
print(ID, "\t", Name, "\t", Batch, "\t" , Hometown )

SM-ML-2025-B1-058 	 Biplab Paul 	 Third 	 Dhaka

In [17]:
# H3 Changing values of an integer variables
num1= 123
#print(num1)
num1=345
print(num1)

num2 = 2

print(num1 + num2)

345
347

In [21]:
#H4 Take two string number and convert to integers using explicit type
num1 = 345 #int
num2 = 345.45 #float

sum = num1 + num2
print(int(sum))
print(float(sum))

690
690.45

In [ ]:
#H5 Print average of the three number and round the result

In [27]:
num1 = int(input())
num2 = int(input())
print(num1>num2)
print(num1<num2)

45
34
True
False

In [30]:
#Bitwise Operators
a = 7 # 111
b = 5 #101
print (a & b) #101
print (a | b) #111

5
7