<a href="https://colab.research.google.com/github/biplabp455/Skill-Morph-ML-Training/blob/main/2nd_Class_2nd_Assignment_Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# H1 Subtraction, Multiplication and Division

A = int(input())
B = int(input())
print ("subtraction: ",(A-B))
print ("Multiplication", (A*B))
print ("Division", (float(A/B)))

5
4
subtraction:  1
Multiplication 20
Division 1.25

In [ ]:
# H2 Declaring variable for ID, Name, Batch and Hometown
ID, Name, Batch, Hometown = "SM-ML-2025-B1-058", "Biplab Paul", "Third", "Dhaka"
print(ID, "\t", Name, "\t", Batch, "\t" , Hometown )

SM-ML-2025-B1-058 	 Biplab Paul 	 Third 	 Dhaka

In [ ]:
# H3 Changing values of an integer variables
num1= 123
#print(num1)
num1=345
print(num1)

num2 = 2

print(num1 + num2)

345
347

In [ ]:
#H4 Take two string number and convert to integers using explicit type
num1 = 345 #int
num2 = 345.45 #float

sum = num1 + num2
print(int(sum))
print(float(sum))

690
690.45

In [ ]:
#H5 Print average of the three number and round the result

In [ ]:
num1 = int(input())
num2 = int(input())
print(num1>num2)
print(num1<num2)

45
34
True
False

In [ ]:
#Bitwise Operators
a = 7 # 111
b = 5 #101
print (a & b) #101
print (a | b) #111

5
7

In [ ]:
#printing with formatting decimal number
num1 = 20
num2 = 5
num3 = 12345
sum = num1 + num2 + num3
print("value: {: .1f}%".format(sum))
print("value: {:.3f}".format(sum))
print (type(sum))
print (type(num3))

print('Sum: ', num1 + num2 )
print('Subtraction: ', num1 - num2)
print('Multiplication: ', num1 * num2)
print('Division: ', num1/num2)
print('Floor division: ', num1//num2)
print('Modulo: ', num1 % num2)
print('power: ', a ** b)

value:  12370.0%
value: 12370.000
<class 'int'>
<class 'int'>
Sum:  25
Subtraction:  15
Multiplication:  100
Division:  4.0
Floor division:  4
Modulo:  0

NameError: name 'a' is not defined

In [ ]:
#Operators-Assignment Operators
a = 10
b = 5
#Assign the sum of a and b to a

a+= b # a = a+b
b+=5

print(a)
print(b)

15
10

In [ ]:
# Findin avarage number

a = int(input())
b = int(input())
sum = a + b
avg = sum/3
print("The Avarage number is: ", avg)

5
6
The Avarage number is:  3.6666666666666665